.spin {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spin-pl {
  -webkit-animation: spin 4s linear infinite normal;
  -moz-animation: spin 4s linear infinite normal;
  animation: spin 4s linear infinite normal;
}
.spin-cw {
  -webkit-animation: spin 4s linear infinite reverse;
  -moz-animation: spin 4s linear infinite reverse;
  animation: spin 4s linear infinite reverse;
}

.zoom {
  -webkit-animation: zoom 2s ease-in-out;
  -moz-animation: zoom 2s ease-in-out;
  animation: zoom 2s ease-in-out;
}
@-moz-keyframes zoom {
  0% {
    -moz-transform: scale(0);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.swing {
  -webkit-animation: swing 3s infinite ease-in-out;
  -moz-animation: swing 3s infinite ease-in-out;
  animation: swing 3s infinite ease-in-out;
}

@keyframes swing {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
