.spin {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
.spin-pl {
  -webkit-animation: spin 4s linear infinite normal;
  -moz-animation: spin 4s linear infinite normal;
  animation: spin 4s linear infinite normal;
}
.spin-cw {
  -webkit-animation: spin 4s linear infinite reverse;
  -moz-animation: spin 4s linear infinite reverse;
  animation: spin 4s linear infinite reverse;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zoom {
  animation: zoom 2s ease-in-out;
}
@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.swing {
  animation: swing 3s infinite ease-in-out;
}

@keyframes swing {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.bonusUp {
  animation: bonusUp 600ms ease-in;
  animation-fill-mode: both;
}
@keyframes bonusUp {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-200%);
    opacity: 0;
  }
}

.blinking {
  animation: blinking 1000ms ease-in;
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
