.light-button,
.dark-button {
  position: relative;
  display: block;
  background: #3290ff;
  width: 230px;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  border: #fff 1px solid;
  border-radius: 5px;
  font-size: 20px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  leading-trim: both;
  text-edge: cap;
  text-align: center;

  color: #f5f1e7;
}

.light-button:hover,
.light-button:active {
  color: #3290ff;
  border: #3290ff 1px solid;
  background: #fff;
}
.light-button:active {
  color: #03001b;
}
.light-button:disabled {
  color: rgba(50, 144, 255, 0.5);
  border: rgba(50, 144, 255, 0.5) 1px solid;
  background: rgba(50, 144, 255, 0.2);
  cursor: default;
}

.dark-button {
  color: #03001b;
}

.dark-button:hover,
.dark-button:active {
  color: #03001b;
  border: #3290ff 1px solid;
  background: #fff;
}
.dark-button:active {
  color: #3290ff;
}

.link-button {
  position: relative;
  display: block;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  text-decoration: none;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  leading-trim: both;
  text-edge: cap;
  text-align: center;
  line-height: 100%;

  color: #f5f1e7;
}

.link-button:hover,
.link-button:active {
  color: #fff;
  text-decoration: underline;
}
.link-button:active {
  text-decoration: underline;
  color: #999;
}

.social-button {
  padding: 10px;
  cursor: pointer;
}

.social-button:hover,
.social-button:active {
  opacity: 0.7;
}

.image-button {
  cursor: pointer;
}

.image-button:hover,
.image-button:active {
  opacity: 0.7;
}

.close-button {
  padding: 10px;
  cursor: pointer;
}

.close-button:hover,
.close-button:active {
  opacity: 0.7;
}

@media (max-width: 720px) {
  .light-button:hover {
    color: #fff;
    border: #fff 1px solid;
    background: #3290ff;
  }
  .light-button:active {
    color: #03001b;
    border: #3290ff 1px solid;
    background: #fff;
  }

  .dark-button:hover {
    color: #03001b;
    border: #fff 1px solid;
    background: #3290ff;
  }
  .dark-button:active {
    color: #3290ff;
    border: #3290ff 1px solid;
    background: #fff;
  }

  .link-button:hover {
    text-decoration: none;
  }

  .social-button:hover {
    opacity: 1;
  }
  .social-button:active {
    opacity: 0.7;
  }

  .image-button:hover {
    opacity: 1;
  }
  .image-button:active {
    opacity: 0.7;
  }

  .close-button:hover {
    opacity: 1;
  }
  .close-button:active {
    opacity: 0.7;
  }
}
