.primary-button,
.secondary-button {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 110px;
  gap: 10px;

  color: #5d279e;
  background: #ffffff;
  border-radius: 12px;

  flex: none;
  order: 0;
  flex-grow: 0;

  cursor: pointer;
  box-sizing: border-box;
}

.primary-button:hover,
.primary-button:active {
  background: #ff49b8;
  color: #fff;
}
.primary-button:active {
  background: #ff49b8;
  color: #5d279e;
}
.primary-button:disabled {
  color: #ddd;
  background: #eee;
  cursor: default;
}

.secondary-button {
  color: #fff;
  background: none;
  border: #fff 3px solid;
}

.secondary-button:hover {
  background: #fff;
  color: #ff49b8;
}
.secondary-button:active {
  background: #fff;
  color: #5d279e;
}

.secondary-button:disabled {
  color: #ddd;
  cursor: default;
  border: #eee 3px solid;
}

.link-button {
  position: relative;
  display: block;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  text-decoration: none;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  leading-trim: both;
  text-edge: cap;
  text-align: center;
  line-height: 100%;

  color: #f5f1e7;
}

.link-button:hover,
.link-button:active {
  color: #fff;
  text-decoration: underline;
}
.link-button:active {
  text-decoration: underline;
  color: #999;
}

.social-button {
  padding: 10px;
  cursor: pointer;
}

.social-button:hover,
.social-button:active {
  opacity: 0.7;
}

.image-button {
  cursor: pointer;
}

.image-button:hover,
.image-button:active {
  opacity: 0.7;
}

.close-button {
  padding: 10px;
  cursor: pointer;
}

.close-button:hover,
.close-button:active {
  opacity: 0.7;
}
