.scoresPage,
.finishPage,
.failPage,
.prizePage,
.mainPage {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  padding: 0px 10px;
  gap: 10px;
}

.mobile .scoresPage,
.mobile .finishPage,
.mobile .mainPage {
  justify-content: space-evenly;
}

.pageOverlay,
.pageBg {
  position: absolute;
  background-position: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* transition: opacity 1s ease-out, visibility 1s ease-out; */
}

.head {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mainPage .head {
  height: 160px;
}

.mainPage .head h1 {
  position: absolute;
  bottom: -10px;
}

.mobile .g5.mainPage .head {
  height: 190px;
  justify-content: start;
}

.mobile .g5.mainPage .head h1 {
  position: absolute;
  line-height: 38px;
}

.g5.gamePage .head {
  position: absolute;
  top: 80px;
}

.mobile .g5.gamePage .head {
  position: absolute;
  top: 200px;
}

.g5.prizePage .head {
  height: 60px;
}

.mobile .g5.prizePage .head {
  justify-content: start;
  height: 150px;
}

.logo {
  position: relative;
  width: 155px;
  height: 144px;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.plate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 36px;
  gap: 10px;
  background: #5d279e;
  border-radius: 20px;
  gap: 20px;
  width: calc(100% - 280px);
  min-width: 480px;
  box-sizing: border-box;
}

.g5 .plate {
  background: #ff1c24;
}

.g5.failPage .plate {
  padding-top: 100px;
  padding: 20px 60px;
  padding-top: 70px;
  width: 580px;
  background: #ff49b8;
}

.mobile .g5.failPage .plate {
  min-width: 360px;
  width: 360px;
}

.help {
  background: #692eb0;
  border-radius: 12px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 5px 20px;
  border-radius: 20px;
  box-sizing: border-box;
}

.help-item {
  height: 25px;
  min-width: 20px;
}

.score-box {
  position: relative;
  display: flex;
  width: 400px;
  height: 240px;
  flex-direction: column;

  align-content: start;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
}

.score-plate {
  position: relative;
  display: flex;
  width: 400px;
  flex-direction: column;

  align-content: start;
  align-items: center;
  gap: 10px;
  padding-top: 16px;
  padding-bottom: 100px;
  background: #ff49b8;
  border-radius: 20px;
  box-sizing: border-box;
}

.score-pie {
  position: absolute;
  top: 100px;
  display: flex;
  width: 140px;
  min-height: 140px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0px;

  background: #ffd100;
  color: #ff49b8;
  border-radius: 70px;
  box-sizing: border-box;
}

.button-group {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
}

.button-group .primary-button,
.button-group .secondary-button {
  padding: 24px 60px;
}

.scores-layout {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0px 30px;
  box-sizing: border-box;
}

.mobile .scores-layout {
  flex-direction: column;
}

.scores-info {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
}

.mobile .scores-info {
  gap: 10px;
}

.with-table {
  width: 150%;
}

.mobile .with-table {
  width: 100%;
}

.with-plate {
  padding-bottom: 22px;
}

.mobile .with-plate {
  padding-bottom: 0px;
}

.scores-info-plate {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 4px;
  background: #5d279e;
  border-radius: 16px;
  box-sizing: border-box;
}

.mobile .scores-info-plate {
  width: 100%;
}

.scores-info-comment {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  box-sizing: border-box;
}

.mobile .scores-info-comment {
  width: 100%;
}

.scores-table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;
  width: 100%;
}

.scores-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 28px;
  background: #ff49b8;
  border-radius: 8px;
  margin: 0;
  align-self: stretch;
}

.scores-head li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0;
  width: 33.33%;
  text-align: center;
}

.scores-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  margin: 0;
  gap: 0px;
  align-self: stretch;
  height: 255px;
  overflow-y: auto;
  border: #fff 4px solid;
  padding: 2px 2px;
}

.scores-body::-webkit-scrollbar-thumb {
  height: 6px;
  border: 0px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -webkit-box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.05),
    inset 1px 1px 0px rgba(255, 255, 255, 0.05);
}

.scores-body::-webkit-scrollbar {
  width: 4px;
  height: 18px;
}

.scores-row {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  padding: 6px 20px;

  margin: 0;
  align-self: stretch;
  border: #fff 2px solid;
  border-radius: 10px;
}

.scores-row li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0;
  width: 33.33%;
  text-align: center;
}

.scores-row:nth-child(even) {
  background-color: #ffd100;
}

.white {
  color: #fff;
}

.black {
  color: #222221;
}

.orange {
  color: #f8d1b9;
}

.yellow {
  color: #ffd100;
}

.pink {
  color: #ff49b8;
}

.yellow-plate,
.green-plate {
  display: block;
  background: #7dc858;
  border-radius: 6px;
  padding: 2px 8px !important;
}

.yellow-plate {
  background: #ffd100;
  color: #222221;
}

.g1 .pageBg {
  background-color: #8822cb;
  background-image: url(../images/game1/bg.jpg);
  background-size: cover;
}

.g2 .pageBg {
  background-color: #1d083f;
}

.g3 .pageBg {
  background-color: #2f3138;
  background-image: url(../images/game3/bg.png);
  background-size: cover;
}

.g4 .pageBg {
  background-color: #7dceed;
}

.g5 .pageBg {
  background-color: #a20006;
}

.pageOverlay,
.common .pageBg {
  background: linear-gradient(180deg, #9d1fe1 0%, #5d279e 100%);
}

.g5 .pageOverlay {
  background: #a20006;
}

.g1 .logo {
  background-image: url(../images/game1/logo.png);
}

.g2 .logo {
  background-image: url(../images/game2/logo.png);
}

.g3 .logo {
  background-image: url(../images/game3/logo.png);
}

.g4 .logo {
  background-image: url(../images/game4/logo.png);
}

.g5 .logo {
  background-image: url(../images/game5/logo.png);
}

.g5.failPage .logo {
  position: absolute;
  top: -56px;
  width: 124px;
  height: 124px;
  background-image: url(../images/game5/fail.svg);
}

.mobile .g1 .pageBg {
  background-image: url(../images/game1/bg-mob.jpg);
}

.mobile .g3 .pageBg {
  background-image: url(../images/game3/bg-mobile.png);
}

.g2.mainPage .lamps-left,
.g2.mainPage .lamps-right {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  top: 0;
  pointer-events: none;
}

.g2.mainPage .lamps-left {
  background-image: url(../images/game2/lamps-left.png);
  left: 70px;
  width: 242px;
  height: 37px;
}
.g2.mainPage .lamps-right {
  background-image: url(../images/game2/lamps-right.png);
  right: 70px;
  width: 242px;
  height: 37px;
}

.mobile .g2.mainPage .lamps-left {
  left: -110px;
}
.mobile .g2.mainPage .lamps-right {
  right: -110px;
}

.g2.mainPage .rays-right,
.g2.mainPage .rays-left {
  position: absolute;
  top: 21px;
  pointer-events: none;
}

.g2.mainPage .rays-left {
  left: 70px;
  width: 242px;
  height: 580px;
  opacity: 0.5;
}
.g2.mainPage .rays-right {
  right: 70px;
  width: 242px;
  height: 580px;
  opacity: 0.5;
}
.g2.gamePage .rays {
  position: absolute;
  top: 72px;
  left: 50%;
  width: 420px;
  transform: translateX(-50%);
  height: 580px;
  opacity: 0.5;
}

.mobile .g2.mainPage .rays-left {
  left: -110px;
}
.mobile .g2.mainPage .rays-right {
  right: -110px;
}

.g2.mainPage .ray {
  position: absolute;
  width: 215px;
  height: 583px;
}

.g2.gamePage .ray {
  position: absolute;
  width: 133px;
  height: 360px;
}

.g2 .people {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/game2/people.png);
  left: 0;
  bottom: 0;
  width: 913px;
  height: 91px;
  pointer-events: none;
}
.g2.gamePage .people {
  left: 20px;
}

.mobile .g2.gamePage .people {
  left: 20px;
  bottom: -20px;
}

.g2 .bottom-fade {
  position: absolute;
  left: 0;
  width: 100%;
  height: 70px;
  bottom: -30px;
  /* background: #e74a5c; */
  background: linear-gradient(180deg, rgba(29, 8, 63, 0) 0%, #1d083f 73.56%);
}

.g2 .panel-right,
.g2 .panel-left {
  position: absolute;
  background-color: #ff49b8;
  left: 40px;
  top: 138px;
  width: 137px;
  height: 240px;
  pointer-events: none;
  overflow: hidden;
}

.g2 .panel-right {
  left: auto;
  right: 40px;
}

.g2 .panel-top {
  position: absolute;
  background-color: #ff49b8;
  left: 267px;
  top: -76px;
  width: 426px;
  height: 76px;
  pointer-events: none;
  border-radius: 40px;
  overflow: hidden;
}

.g2 .blob-body {
  position: absolute;
  --amount: 80;
  animation: blob-scale 10s linear infinite;
}

.g2 .blob {
  position: absolute;
  animation: blob-skew 20s linear infinite;
  width: 100%;
  height: 100%;
}

.g2 .pie {
  position: absolute;
  animation: spin 20s linear infinite;
  width: 100%;
  height: 100%;
}

.g2 .pie-body {
  position: absolute;
  --amount: 50;
  animation: blob-scale 10s linear infinite;
}

.g2 .music-top,
.g2 .music-right,
.g2 .music-left {
  position: absolute;
  width: 122px;
  height: 530px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.g2 .music-left {
  transform-origin: 90% 50%;
  top: 20px;
  left: 145px;
  background-image: url(../images/game2/music-left.png);
}

.g2 .music-right {
  transform-origin: 10% 50%;
  top: 20px;
  left: 695px;
  background-image: url(../images/game2/music-right.png);
}

.g2 .music-top {
  transform-origin: 50% 10%;
  left: 0px;
  width: 100%;
  height: 85px;
  bottom: 10px;
  background-image: url(../images/game2/music-mob.png);
}

.g2 .purple {
  fill: #752e99;
}
.g2 .cyan {
  fill: #10cfc9;
}
.g2 .red {
  fill: #e74a5c;
}
.g2 .pink {
  fill: #ff49b8;
}
.g2 .yellow {
  fill: #ffd100;
}

.g3 .disc-mobile,
.g3 .disc-left,
.g3 .disc-right {
  position: absolute;
  width: 390px;
  height: 336px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.g3 .disc-left {
  left: -200px;
  top: 105px;
  background-image: url(../images/game3/disc-left.png);
}
.g3 .disc-right {
  left: 780px;
  top: 105px;
  background-image: url(../images/game3/disc-right.png);
}
.g3 .disc-mobile {
  left: 0px;
  top: 735px;
  width: 100%;
  background-image: url(../images/game3/disc-mob.png);
}

.g3 .handle-box {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  box-sizing: border-box;
}
.g3 .handle {
  position: relative;
  width: 66px;
  height: 66px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/game3/handle-bg.svg);
}

.g3 .handle-item,
.g3 .handle .handle {
  position: absolute;
  left: 21px;
  top: 17px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.g3 .handle .handle {
  background-image: url(../images/game3/handle.svg);
}
.g3 .handle-item {
  background-image: url(../images/game3/handle-item.svg);
}

.mobile .g3 .handle-box {
  left: 20px;
  top: 20px;
  gap: 20px;
  width: 180px;
  height: 66px;
}

.g3.gamePage .handle-box {
  left: 245px;
  top: 465px;
  width: 480px;
  height: 624px;
  gap: 25px;
}

.mobile .g3.gamePage .handle-box {
  left: 133px;
  top: 28px;
  width: 210px;
  height: 624px;
  gap: 15px;
}

.g3 .music-button-box {
  position: absolute;
  left: 807px;
  top: 491px;
  width: 108px;
  height: 14px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 14px;
  box-sizing: border-box;
}
.g3 .music-button {
  position: relative;
  width: 26px;
  height: 10px;
  background-color: #984ef2;
}

.mobile .g3 .music-button-box {
  transform: scale(1.2);
  position: absolute;
  left: 402px;
  top: 697px;
  gap: 22px;
}

.g3 .jack-box {
  position: absolute;
  left: 54px;
  top: 483px;
  width: 108px;
  height: 14px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 16px;
  box-sizing: border-box;
}
.g3 .jack {
  position: relative;
  width: 10px;
  height: 10px;
  border: 3px solid #e41d24;
  border-radius: 9px;
  border-bottom-left-radius: 7px;
}

.mobile .jack-box {
  transform: scale(1.155);
  left: 62px;
  top: 686px;
}

.g3 .ajuster-mobile,
.g3 .ajuster-right,
.g3 .ajuster-left {
  position: absolute;
  top: 54px;
  width: 64px;
  height: 28px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/game3/ajuster.png);
}
.g3 .ajuster-left {
  left: 195px;
}
.g3 .ajuster-right {
  left: 709px;
}

.ajuster-rotate {
  position: absolute;
  left: 560px;
  top: 595px;
  transform: rotate(90deg) scale(1.15);
}
.ajuster-mobile {
  top: 0px;
  left: 0px;
}

.g3 .fix {
  position: absolute;
  top: 14px;
  left: 820px;
  width: 150px;
  height: 70px;
  background: #34363f;
}

.g4.mainPage .parallax1,
.g4.mainPage .parallax2,
.g4.mainPage .parallax3 {
  position: absolute;
  display: block;
  width: 100%;
  background-repeat: repeat-x;
  background-size: cover;
  background-position-x: 0;
  background-position-y: center;
  transition-property: background-position-x;
  transition-timing-function: steps(100);
}

.g4.mainPage .parallax1 {
  animation: parallax 5000ms linear infinite reverse;
  --position: 961px;
  top: 270px;
  height: 77px;
  background-image: url(../images/game4/flags.png);
}

.mobile .g4.mainPage .parallax1 {
  top: 700px;
}

.g4.mainPage .parallax2 {
  animation: parallax 15s linear infinite reverse;
  --position: 1111px;
  height: 146px;
  bottom: 0px;
  background-image: url(../images/game4/titleplan1.png);
}

.g4.mainPage .parallax3 {
  animation: parallax 100s linear infinite reverse;
  --position: 1857px;
  height: 100%;
  background-image: url(../images/game4/titleplan2.png);
}

.mobile .g4.mainPage .parallax3 {
  background-color: #52bae0;
  background-position-y: 100px;
}

.hint-right,
.hint-left {
  position: absolute;
  bottom: 0px;
  width: 155px;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 16px;
  box-sizing: border-box;
  pointer-events: none;
}

.hint-right p {
  text-align: right;
}
.hint-left p {
  text-align: left;
}

.hint-right {
  align-items: end;
  right: 24px;
}
.hint-left {
  align-items: start;
  left: 24px;
}

.mobile .hint-right,
.mobile .hint-left {
  width: 155px;
  height: 155px;
}

.hint-logo {
  width: 36px;
  height: 36px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/game5/five.svg);
}

.hint-item {
  width: 66px;
  height: 26px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/game5/hint.svg);
}

.g5.prizePage .bg,
.g5.failPage .bg,
.g5.mainPage .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 1500px 640px;
  background-position: center;
  background-repeat: repeat;
  background-image: url(../images/game5/bg.png);
  image-rendering: optimizeSpeed;
  animation: parallax 60s linear infinite;
  --position: 1500px;
  opacity: 0.2;
}

.g5 .fade-left {
  position: absolute;
  left: 0;
  top: -1%;
  width: 40%;
  height: 102%;
  background: linear-gradient(
    90deg,
    rgba(162, 0, 6, 1) 0%,
    rgba(162, 0, 6, 1) 20%,
    rgba(162, 0, 6, 0) 100%
  );
}

.g5 .fade-right {
  position: absolute;
  right: 0%;
  top: -1%;
  width: 40%;
  height: 102%;
  background: linear-gradient(
    90deg,
    rgba(162, 0, 6, 0) 0%,
    rgba(162, 0, 6, 1) 80%,
    rgba(162, 0, 6, 1) 100%
  );
}

.g5 .success-container {
  position: absolute;
  left: 50%;
  top: 50%;
}

.success-container .five,
.success-container .success,
.success-container .success-decor,
.success-container .prize-decor {
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.success-container .success {
  width: 320px;
  height: 320px;
  transform: translate(-50%, -50%);
  background-image: url(../images/game5/success.svg);
}

.success-container .five {
  width: 88px;
  height: 88px;
  left: -50px;
  top: -44px;
  background-image: url(../images/game5/five.svg);
}

.success-container .success-decor {
  width: 320px;
  height: 320px;
  left: -160px;
  top: -160px;
  opacity: 0;
  background-image: url(../images/game5/success-decor.svg);
}

.success-container .prize-decor {
  width: 360px;
  height: 360px;
  left: -180px;
  top: -180px;
  opacity: 0;
  background-image: url(../images/game5/prize-decor.svg);
}

.g5.prizePage {
  top: 0px;
  justify-content: start;
}

.prize-page-content {
  position: relative;

  padding: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  gap: 10px;
}

.g5.prizePage .prize-container {
  position: relative;
  width: 220px;
  height: 220px;
  background: #ff49b8;
  border-radius: 110px;
}

.g5.prizePage .prize {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 100ms ease-out;
}

.mobile .g5.prizePage .prize-page-content {
  gap: 20px;
}

.mobile .g5.prizePage .prize-container {
  width: 320px;
  height: 320px;
  border-radius: 160px;
}

.prize-name {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.g5.prizePage .prize-particles {
  position: absolute;
  left: 110px;
  top: 110px;
  width: 0px;
  height: 0px;
}

.mobile .g5.prizePage .prize-particles {
  left: 160px;
  top: 160px;
}

.g5.mainPage .button-group,
.g5.prizePage .button-group {
  height: 80px;
}

.mobile .g5.prizePage .button-group {
  height: 150px;
  align-items: end;
}
