.g4-countdown {
  color: rgba(0, 255, 255, 0.8) !important;
}

.g4-score {
  color: rgba(0, 255, 255, 0.8) !important;
}

.g4-gameScene {
  position: absolute;
  display: block;
}

.g4-parallax1,
.g4-parallax2,
.g4-parallax3 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-size: cover;
  background-position-x: 0;
  background-position-y: center;
  transition-property: background-position-x;
  /* transition-timing-function: linear; */
  transition-timing-function: steps(100);
}

.g4-parallax3 {
  background-image: url(../images/game4/plan1.png);
}

.g4-parallax2 {
  background-image: url(../images/game4/plan2.png);
}

.g4-parallax1 {
  background-image: url(../images/game4/plan3.png);
}

.g4-columns {
  position: absolute;
  display: block;
  top: 0px;
  transition-property: transform;
  transition-timing-function: steps(100);
}

.g4-column {
  position: absolute;
  display: block;
}

.g4-columnTop {
  flex: auto;
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}
.g4-columnBottom {
  flex: auto;
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

.g4-gameBonus {
  position: absolute;

  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  font-family: "Forum";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 110%;
  leading-trim: both;
  text-edge: cap;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.g4-negativeBonus {
  color: rgba(255, 0, 0, 1);
}
