.game h1 {
  font-family: "Onest";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.game h2 {
  font-family: "Onest";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.game h3 {
  font-family: "Onest";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.game p {
  font-family: "Onest";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.game p.small {
  font-size: 14px;
  line-height: 18px;
}

.game .button {
  font-family: "Onest";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.game .mobile h1 {
  font-size: 32px;
  line-height: 52px;
}

.game .mobile h2 {
  font-size: 24px;
  line-height: 32px;
}

.game .mobile h3 {
  font-size: 20px;
  line-height: 28px;
}

.game .mobile p {
  font-size: 20px;
  line-height: 28px;
}

.game .mobile p.small {
  font-size: 16px;
  line-height: 20px;
}

.game .mobile .button {
  font-size: 20px;
  line-height: 28px;
}

.game .display {
  font-family: "Onest";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
}

.game .score-value {
  font-family: "Onest";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}

.game .score-title {
  font-family: "Onest";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}

.game .table {
  font-family: "Onest";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
