h1 {
  font-family: "Forum";

  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  leading-trim: both;
  text-edge: cap;
  text-align: center;
  text-transform: uppercase;
  color: #f5f1e7;

  margin: 0px;
  padding: 0px;
}

h2 {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 110%;
  leading-trim: both;
  text-edge: cap;
  text-align: center;
  text-transform: uppercase;
  color: #f5f1e7;
  margin: 0px;
  padding: 0px;
}

p,
li {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  text-align: center;
  color: #f5f1e7;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 720px) {
}
